.tableContainer {
    margin: 30px;
    justify-content: space-between;
}

.topContainer {
    display: flex;
    margin-bottom: 25px;
}
  
.table {
    width: 100%;
    color: black;
    text-align: left;
    font-size: 14px;
}
  
.column {
    width: 33%;
    padding: 15px;
    border-bottom: 1px solid #b0afb6;
}

.columnHeader {
    width: 33%;
    padding: 15px;
}

.title{
    font-size: 25px;
    color: black;
    align-self: center;
}

.addButton{
    padding: 10px;
    padding-inline: 15px;
    background-color: rgb(90, 90, 249);
    font-size: 14px;
    border: 0px;
    border-radius: 10px;
    margin-left: auto;
    align-self: self-end;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.addButton:hover{
    cursor: pointer;
    background-color: rgb(20, 20, 160);
}

.paginationContainer{
    display: flex;
    font-size: 14px;
    margin: 20px;
    justify-content: flex-end;
}

.paginationInput{
    background-color: white;
    color: black;
    width: 50px;
    margin-right: 5px;
    padding: 5px;
    border: 2px solid rgb(235, 235, 235);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    align-self: center;
}

.paginationInput:focus{
    border-bottom: 2px solid rgb(121, 160, 252);
    outline: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.paginationInput[type="number"]::-webkit-inner-spin-button {
    display: none;
}

.paginationInput[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
}

.paginationFullpage{
    color: black;
    align-self: center;
}

.paginationButton{
    height: fit;
    align-self: center;
    padding: 5px;
    padding-inline: 10px;
    margin-inline: 10px;
    border-radius: 5px;
    border: 1px solid rgb(209, 209, 209);
    background-color: white;
    color: rgb(59, 59, 59);
    -webkit-transition: 0.2s;
    transition: 0.2s;
    cursor: pointer;
}

.paginationButton:hover{
    background-color: rgb(90, 90, 249);
    color: white;
}

.columnLoading{
    animation-duration: 1.8s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #fafafa 8%, #f4f4f4 38%, #fafafa 54%);
    background-size: 1000px 640px;
    border-radius: 5px;
    padding-top: 25px;
    position: relative;
}

.deleteButton{
    background-color: red;
    color: white;
    border: 2px solid red;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.deleteButton:hover{
    background-color: white;
    color: red;
    border: 2px solid red;
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}